{% extends 'base.html.twig' %}

{% block title 'Agence Symfony ' %}

{% block body %}
    <div class="container text-center">
        <h1> Agence Symfony </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam assumenda commodi dignissimos in laborum
            maxime pariatur quas, qui sapiente? Aliquam animi doloribus pariatur repudiandae sunt tempora veritatis voluptatum!
            Laboriosam.
        </p>
    </div>

{% endblock %}