{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4 ">
        <h2>Update Property</h2>
        {{  include ('admin/property/_form.html.twig', {form: form, button: 'Save'}) }}
    </div>
{% endblock %}



